<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>Login</title>

</head>

<body>


	<nav class="navbar navbar-expand-lg navbar-light bg-light">


      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">


          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>


           <li class="nav-item">

            <a class="nav-link" href="{{ url_for('logout') }}">Logout </a>

          </li>

  
        </ul>

      </div>

    </nav>



	<h1> Login Out </h1>




</body>

</html>